.feature-box{
    background-color: rgba(white, 0.5);
    padding: 2.5rem;
    text-align: center;
    width: 90%;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
    transition: transform 0.2s;
    margin: 0 auto;   
    &_icon{
        font-size: 3rem;
        margin-bottom: 1rem;
        background: linear-gradient($color-primary-light, $color-primary);
        -webkit-background-clip: text;
        color: transparent;
    } 
    &:hover{
    transform: translateY(-10px) scale(1.03);
    }
}

