.p-inner{
    padding: 5rem 8rem;
}

.py-small{
    padding: 5rem 0rem;
}

.heading-secondary{
    background: linear-gradient(120deg, #fd8989, #ff0000);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    &-left{
        text-align: left;
        margin-bottom: 2rem;
    }
    &-sm{
        font-size: 2rem;
        text-align: left;
    }
}

h5 {
    background: linear-gradient(120deg, #fd8989, #ff0000);
    -webkit-background-clip: text;
    color: transparent;
}

.heading-tertiary{
    color: gray;
    margin-bottom: 1rem;
    text-transform: uppercase;
    &-wh{
        color: white;
    }
}

.mt-small{
    margin-top: 2rem;
}

.mb-small{
    margin-bottom: 2rem;
}

.mt-m{
    margin-top: 4rem;
}

.mt-l{
    margin-top: 6rem;
}