.p-inner{
    padding: 5rem 8rem;
}

.heading-secondary{
    background: linear-gradient(120deg, #fd8989, #ff0000);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

.heading-tertiary{
    color: gray;
    margin-bottom: 1rem;
    text-transform: uppercase;

}

.mt-small{
    margin-top: 2rem;
    text-transform: uppercase;

}